@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
}


body {
    background: #999999;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    gap: 100px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.logoImg {
    width: 600px;
    transition: .25s;
}

.logoImg:hover {
    width: 650px;
    transition: .25s;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    background: #000;
    padding: 15px 30px;
    border-radius: 100px;
    transition: .25s;
}

a:hover {
    padding: 20px 35px;
    transition: .25s;
}

a:active {
    padding: 12.5px 22.5px;
    font-size: 42.5px;
    background: #CDCDCD;
    transition: .5s;
}